// .leaflet-gesture-handling-touch-warning {
// 	transition: all 0.3s ease-in-out;
// }

.leaflet-gesture-handling-touch-warning, .leaflet-gesture-handling-scroll-warning {
    &:after {
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 300;
        justify-content:center;
        display: flex;
        align-items: center;
        padding: 15px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        pointer-events:none;
    }
}

.leaflet-gesture-handling-touch-warning {
    &:after {
        content: 'Use two fingers to move the map';
    }
	
}

.leaflet-gesture-handling-scroll-warning {
    &:after {
        content: 'Use Ctrl + scroll to zoom the map';
    }
    &.mac {
        &:after {
            content: 'Use ⌘ + scroll to zoom the map';
        }
    }
}
